<a href="https://colab.research.google.com/github/junaith23/junaith23/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1=int(input("Enter the value of num1:"));
num2=int(input("Enter the value of num2:"));
sum = num1 + num2;
print('The sum of {0} and {1} is {2}'.format(num1,num2,sum,));

Enter the value of num1:11
Enter the value of num2:33
The sum of 11 and 33 is 44

In [ ]:
num = float(input("Enter the value:"));
sqrt = num ** 0.5;
print('The square root of the giver number is', sqrt);

Enter the value:25
The square root of the giver number is 5.0

In [ ]:
x= 5;
y = 10;
temp= x;
x = y;
y = temp;
print('The value of x after swapping',x);
print('The value of y after swapping',y);

The value of x after swapping 10
The value of y after swapping 5

In [ ]:
import cmath
num = 1+2j
num_sqrt = cmath.sqrt(num)
print('The square root of {0} is {1:0.3f}+{2:0.3f}j'.format(num,num_sqrt.real,num_sqrt.imag))

The square root of (1+2j) is 1.272+0.786j

In [ ]:
a,b,c = 11,12,13
s= (a+b+c)/2
area= (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

The area of the triangle is 61.48

In [ ]:
a = b = c ='same'
print(a)
print(b)
print(c)

same
same
same

In [ ]:
x=(1==True)
y=(1==False)
a=True+4
b=False+10
print("x is",x)
print("y is",y)
print("a:",a)
print("b:",b)

x is True
y is False
a: 5
b: 10

In [ ]:
website="aasifzakir.com"
print(website)
website="aasifzakir/portfolio.github.io"
print(website)

In [ ]:
def maxOfTwo(x, y):
  if x > y:
    return x
  return y
def maxOfThree(x,y,z):
  return maxOfTwo(x, maxOfTwo(y,z))
print(maxOfThree(3,5,7))

7

In [ ]:
def sum(numbers):
  total = 0
  for x in numbers:
    total += x 
  return total
print(sum((1,2,3,4,5,6)))

21

In [ ]:
def sum(numbers):
  total = 1
  for x in numbers:
    total *= x 
  return total
print(sum((2,3,4,5,6)))

720

In [ ]:
def strRev(str):

  revstr=''
  index = len(str)
  while index > 0:
    revstr += str[index - 1]
    index = index -1
  return revstr
print(strRev('Aasifzakir'));

rikazfisaA

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Enter a number to compute the factiorial : "))
print(factorial(n))

Enter a number to compute the factiorial : 50
30414093201713378043612608166064768844377641568960512000000000000

In [ ]:
def test_range(n):
    if n in range(11,20):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(5)

The number is outside the given range.

In [ ]:
def string_test(s):
    d={"upperCase":0, "lowerCase":0}
    for c in s:
        if c.isupper():
           d["upperCase"]+=1
        elif c.islower():
           d["lowerCase"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["upperCase"])
    print ("No. of Lower case Characters : ", d["lowerCase"])

string_test('We Are Software Developers')

Original String :  We Are Software Developers
No. of Upper case characters :  4
No. of Lower case Characters :  19

In [ ]:
def uniqueList(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(uniqueList([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [ ]:
def testPrime(n):
    if (n==1):
        return False;
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False;
        return True;             
print(testPrime(23));

True

In [ ]:
def isEvenNum(l):
    enum = []
    for n in l:
        if n % 2 == 0:
            enum.append(n)
    return enum
print(isEvenNum([1, 2, 3, 4, 5, 6, 7, 8, 9]))

[2, 4, 6, 8]

In [ ]:
def perfectNumber(n):
    sum = 0
    for x in range(1, n):
        if n % x == 0:
            sum += x
    return sum == n
print(perfectNumber(6))

True

In [ ]:
def isPalindrome(string):
	left_pos = 0
	right_pos = len(string) - 1
	
	while right_pos >= left_pos:
		if not string[left_pos] == string[right_pos]:
			return False
		left_pos += 1
		right_pos -= 1
	return True
print(isPalindrome('aza'))

True

In [ ]:
def pascalTriangle(n):
   trow = [1]
   y = [0]
   for x in range(max(n,0)):
      print(trow)
      trow=[l+r for l,r in zip(trow+y, y+trow)]
   return n>=1
pascalTriangle(6)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

True

In [ ]:
import string, sys
def ispangram(str1, alphabet=string.ascii_lowercase):
    alphaset = set(alphabet)
    return alphaset <= set(str1.lower())
 
print ( ispangram('The quick brown fox jumps over the lazy dog'));

True

In [ ]:
items=[n for n in input().split('-')]
items.sort()
print('-'.join(items))

Its-Me-How-Are-You
Are-How-Its-Me-You

In [ ]:
def printValues():
	l = list()
	for i in range(1,21):
		l.append(i**2)
	print(l)
		
printValues()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
def make_bold(fn):
    def wrapped():
        return "<b>" + fn() + "</b>"
    return wrapped

def make_italic(fn):
    def wrapped():
        return "<i>" + fn() + "</i>"
    return wrapped

def make_underline(fn):
    def wrapped():
        return "<u>" + fn() + "</u>"
    return wrapped
@make_bold
@make_italic
@make_underline
def hello():
    return "hello world"
print(hello())

<b><i><u>hello world</u></i></b>

In [ ]:
myCode = 'print("hello world")'
code = """
def mutiply(x,y):
    return x*y

print('Multiply of 2 and 3 is: ',mutiply(2,3))
"""
exec(myCode)
exec(code)

hello world
Multiply of 2 and 3 is:  6

In [ ]:
def test(a):
        def add(b):
                nonlocal a
                a += 1
                return a+b
        return add
func= test(4)
print(func(4))

9

In [ ]:
def abc():
    x = 1
    y = 2
    str1= "w3resource"
    print("Python Exercises")

print(abc.__code__.co_nlocals)

3

In [ ]:
from time import sleep
import math
def delay(fn, ms, *args):
  sleep(ms / 1000)
  return fn(*args)
print("Square root after specific miliseconds:") 
print(delay(lambda x: math.sqrt(x), 100, 16))
print(delay(lambda x: math.sqrt(x), 1000, 100))
print(delay(lambda x: math.sqrt(x), 2000, 25100))

Square root after specific miliseconds:
4.0
10.0
158.42979517754858